.auth-form-control {
  margin: 0px auto;
  margin-top: 15vh;
}

.auth-header {
  margin-bottom: 3vh;
}

.auth-text-field {
  margin: auto;
  margin-bottom: 3vh;
}

.auth-button {
  margin: auto;
  margin-top: 5vh;
  width: 25vh;
}
